@model BookMyTrainApp.Models.User

@{
    ViewData["Title"] = "Forgot Password";
}

<h1>Forgot Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MailId" class="control-label"></label>
                <input asp-for="MailId" class="form-control" required/>
                <span asp-validation-for="MailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send OTP" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
