@model BookMyTrainAdminClientApp.Models.Station

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StationCode" />
            <div class="form-group">
                <label asp-for="StationName" class="control-label"></label>
                <input asp-for="StationName" class="form-control" />
                <span asp-validation-for="StationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationLocation" class="control-label"></label>
                <input asp-for="StationLocation" class="form-control" />
                <span asp-validation-for="StationLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HaultTime" class="control-label"></label>
                <input asp-for="HaultTime" class="form-control" />
                <span asp-validation-for="HaultTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
