@model DigitalBankWebAppMVC.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountNumber" />
            <div class="form-group">
                <label asp-for="AccHolderName" class="control-label"></label>
                <input asp-for="AccHolderName" class="form-control" />
                <span asp-validation-for="AccHolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidenceAddress" class="control-label"></label>
                <input asp-for="ResidenceAddress" class="form-control" />
                <span asp-validation-for="ResidenceAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>
                <select asp-for="AccountType" class="form-control" asp-items="ViewBag.AccountType"></select>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <select asp-for="ApprovedBy" class="form-control" asp-items="ViewBag.ApprovedBy"></select>
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
