@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-right">
    <a asp-controller="UserAccount" asp-action="Index">Back</a>
</div>
<div class="text-center">
    <h1>Sorry, This Feature is Under Construction</h1>
    <img style="height:500px" src="~/underconstruction.svg" alt="Under Construction" />
</div>
