@model DigitalBankWebAppMVC.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>

<div class="text-right">
    <a asp-controller="UserAccount" asp-action="Index">Back to Menu</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromAccount" class="control-label"></label>
                <select asp-for="FromAccount" class="form-control" asp-items="ViewBag.FromAccount">
                </select>
                    
            </div>
            <div class="form-group">
                <label asp-for="ToAccount" class="control-label"></label>
                <select asp-for="ToAccount" class="form-control" asp-items="ViewBag.ToAccount"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="TransactionType" class="control-label"></label>
                    <select asp-for="TransactionType" class="form-control">
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                    <span asp-validation-for="TransactionType" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="TransactionReason" class="control-label"></label>
                <input asp-for="TransactionReason" class="form-control" />
                <span asp-validation-for="TransactionReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
