@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpacc;


<h1>Welcome to @httpacc.HttpContext.Session.GetString("adminusername")</h1>